    <form action="EvDetails" method="post">
        <!--I added the method="post" tag above. This allowed the KeyWord to be passed into the Action :)-->

        <h2>KeyWord</h2>
        <input type="text" name="KeyWord" />
        <input type="submit" />
    </form>
