@model List<Event>

@{
    ViewData["Title"] = "Index";
}

<h2>Ticketmaster Event Search</h2>

Looking for something to do? Enter a Keyword in the box below for a list of things that might interest you! <br />

<br />
<br />




<form action="Home/SearchResult" method="post">
    <input type="text" name="KeyWord" required />
    <input type="submit" />
</form>
