@model List<Event>

@{
    ViewData["Title"] = "Index";
}



<form action="Home/SearchResult" method="post">
    <h2>Search</h2>
    <input type="text" name="KeyWord" />
    <input type="submit" />
</form>
