
@{
    ViewData["Title"] = "Login";
}

@ViewBag.Error
<h1>Login</h1>

<form asp-action="LoginSuccess" method="post">
    Username:
    <input type="text" name="Username" /> <br />
    Password:
    <input type="password" name="Password" /> <br />

    <br />
    <input type="submit" />
    <a href="~/Views/Login/Login.cshtml">~/Views/Login/Login.cshtml</a>
</form>

