
<form action="Login/Login" method="post">
    <p>User Name: </p>
    <input type="text" name="username"/>

    <p>Password: </p>
    <input type="password" name="password"/>

    <input type="submit">
</form>