<h2>Registration</h2>
<h2>@ViewBag.Error</h2>
<form method="post">
    Username: <br />
    <input type="text" name="Username" /> <br />
    Password: <br />
    <input type="password" name="Password" minlength="7" maxlength="15" />
    <br />
    <input type="submit" />

</form>